@media only screen and (min-width:1200px) {

  /* PROJECT */
  .site-project .container-project .col-md-7 .container-brand {
    margin: 15px 20px;
  }
}


@media only screen and (max-width:1024px) {
  .name-work {
    font-size: 1em;
  }

  /* ABOUT */
  .site-about .row .col-md-4 .container-img-about {
    top: 45px;
    left: 70px;
  }
  .site-about .row .col-md-8 .container-txt-about {
    width: 90%;
  }
  .site-skill .cover .text-para {
    width: 100%;
  }
  .site-skill .container-skill .box-skill .front {
    padding: 30px 15px;
  }

  /* WORK */
  .site-work .container-info-work {
    width: 40%;
  }

  .site-work .mission-work {
    width: 70%;
  }
}

@media only screen and (max-width:992px) {
  .navbar {
    background-color: white;
  }
  .sticky {
    background-color: var(--color-green);
  }
  .color-menu-burger {
    color: var(--color-white) !important;
  }
  .nav-item {
    text-align: center;
  }
  .menu-right-btn {
    margin: auto;
  }
  .fa-bars {
    color: var(--color-green);
    opacity: 1;
  }
}

@media only screen and (max-width:834px) {

  /* INTRO */
  header .intro {
    background: url("/assets/illustrations/illu-home-834.svg") no-repeat center center;
    background-size: cover;
    height: 100%;
    position: relative;
  }

  /* ABOUT */
  .site-about .row .col-md-4 .container-img-about {
    top: 100px;
    left: -10px;
  }

  .site-about .row .col-md-8 .container-txt-about {
    width: 100%;
  }

  /* SKILL */
  .site-skill .container-skill .rect {
    padding: 0 10px;
  }

  .site-skill .container-skill .box-skill .front,
  .back {
    height: 390px;
  }
  .site-skill .container-skill .box-skill .back {
    padding: 55px 15px;
  }
  .site-skill .container-skill .rect .box-skill .front .category-skill {
    height: 40px;
  }

  .site-skill .container-skill .box-skill .front .text-para {
    height: 110px;
  }

  .site-skill .container-skill .rect .box-skill .back .progress {
    font-size: 0.625em;
  }

  /* TRAINING */
  .site-training .container-training .carousel .owl-carousel .container-training-info .name-work {
    height: 55px;
  }

  /* WORK */
  .site-work .col-lg-6 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .site-work .container-info-work {
    width: 35%;
  }

  .site-work .mission-work {
    height: 160px;
  }
}

@media only screen and (max-width:768px) {

  /* WORK */
  .site-work .mission-work {
    height: initial;
  }
}

@media only screen and (max-width:576px) {
  .drawing-site {
    display: none;
  }

  /* ABOUT */
  .site-about .row .col-md-8 .container-txt-about {
    width: 90%;
    margin: auto;
  }

  /* SKILL */
  .site-skill .container-skill .rect {
    padding: 0 120px;
    margin-bottom: 30px;
  }
  .site-skill .container-skill .rect .box-skill .front .category-skill {
    height: initial;
  }

  .site-skill .container-skill .box-skill .front,
  .back {
    height: 335px;
    padding: 30px !important;
  }

  .site-skill .container-skill .box-skill .front .text-para {
    height: 73px;
  }


  /* TRAINING */
  .site-training .container-training .carousel .owl-carousel .container-training-info .name-work {
    height: 93px;
  }

  /* WORK */
  .site-work .col-lg-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .site-work .container-info-work {
    width: 35%;
  }

  .site-work .mission-work {
    padding-left: 30px;
  }

  /* FOOTER */
  .footer .container-contact {
    padding-top: 150px !important;
}
}

@media only screen and (max-width:425px) {

  /* INTRO */
  header .intro .container-header h1 {
    font-size: 1.6875em;
  }

  /* ABOUT */
  .site-about .row .col-md-8 .container-txt-about {
    padding: 50px 30px;
  }

  /* SKILL */
  .site-skill .cover .text-para {
    padding: 0 50px;
  }

  .site-skill .container-skill .rect {
    padding: 0 50px;
  }


  /* TRAINING */
  .site-training .container-training .carousel .owl-carousel .container-training-info .name-work {
    height: 55px;
  }

  /* WORK */
  .site-work .container-info-work {
    width: 40%;
  }

  .site-work .container-info-work .contract {
    line-height: 1.3;
  }

  .site-work .mission-work {
    padding-left: 40px;
  }
}

@media only screen and (max-width:414px) {}

@media only screen and (max-width:375px) {

  .title-section-green,
  .title-section {
    font-size: 1.6875em;
  }

  /* INTRO */
  header .intro .container-header h1 {
    font-size: 1.6875em;
    padding: 0 40px;
  }

  header .intro .container-header h2 {
    font-size: 1.4375em;

  }

  .date,
  .location {
    font-size: 0.625em;
  }

  .name-work {
    font-size: 0.875em !important;
  }

  .contract {
    font-size: 0.6875em;
  }

  /* SKILL */
  .site-skill .container-skill {
    margin-top: -120px;
  }

  /* TRAINING */
  .site-training .container-training .carousel .owl-carousel .container-training-info .name-work {
    height: 45px;
  }

  /* WORK */
  .site-work .mission-work {
    padding-left: 40px;
  }

  /* FOOTER */
  .footer .container-copyright .text-copyright {
    font-size: 0.625em;
  }
}

@media only screen and (max-width:360px) {

  /* SKILL */
  .site-skill .container-skill .rect {
    padding: 0 20px;
  }

  .site-skill .container-skill .box-skill .front .text-para {
    height: 75px;
  }

  .site-skill .container-skill .box-skill .front,
  .back {
    height: 337px;
  }
}